// Import page-specific CSS files here.
@import "home";
@import "components/buttons";
@import "components/form";
@import "config/fonts";


.main-container {
  margin-left: 10px;
  margin-right: 10px;
  position:relative;
}
