<% @features.each do |feature| %>
<!-- <a class="btn btn-outline-primary" action="/desks/<%= @desk.id %>/desk_features" method="post" name="desk_feature[<%#= feature.id %>]"><%#= feature.name %></a> -->
<%#= link_to feature.name, desk_desk_features_path(@desk, desk_feature: { :feature_id => feature.id }), :method => :post %>
  <% if desk_feature = @desk.desk_features.find_by(feature_id: feature.id) %>
  <%= link_to feature.name, desk_feature_path(desk_feature), :method => :delete, class:'btn btn-danger' %>
  <% else %>
  <%= link_to feature.name, desk_desk_features_path(@desk, desk_feature: { :feature_id => feature.id }), :method => :post, class:'btn btn-outline-primary'%>
  <% end %>
<% end %>


<%#= @desk.desk_features.each do |f| %>
  <%#= f.feature.name %>
<%# end %>
