<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>
<% current_user.bookings.each do |booking| %>
  Date: <%= booking.date %>,
  <%= booking.total_price %> €,
  Status: <%= booking.status %>
  <br><br>
<% end %>
