<div class="main-container">
  <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div class="form-inputs">
        <h1>List your Desk</h1>
          <h2 class="underline"><span>Step 1</span></h2>
          <form action="/desks" method="post" class="form-content">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="form-box">
              <input type="text" class="form-input" id="title" aria-describedby="emailHelp" placeholder="Title" name="desk[title]">
            </div>
            <!-- <small id="Title" class="form-text text-muted">Don't worry we won't display the address to our users.</small> -->
            <div class="form-box">
              <input type="text" class="form-input" id="address" placeholder="Full address" name="desk[address]">

            </div>
            <div class="form-box-description">
              <textarea class="form-input" placeholder="Description" id="description" rows="4" name="desk[description]"></textarea>
            </div>
            <div class= "d-flex justify-content-start align-items-center">
              <div class="form-box-price">
                <input type="number" class="form-input" id="price" placeholder="Your price" name="desk[price]">
              </div>
              <h3 class="ml-3 text-secondary">€ / Day</h3>
            </div>
            <button type="submit" class="btn-main">NEXT > </button>
          </form>
      </div>
    </div>
  </div>
</div>

