<div class="banner">
  <div class="container-top">
    <h1>Be Productive Anywhere</h1>
    <h2>Find and book your private workspace near you, from people like you</h2>
    <%= link_to "SEARCH", new_user_session_path, class: "btn-main-sm" %>
  </div>
</div>
