<div class="banner">
  <div class="banner-content">
    <h1 class="homepage-typed"></h1>
    <h2>Find and book a private workspace near you, from people like you</h2>
  </div>

    <form class="search-box">
      <input type="text" class="search-bar" name="location" placeholder="Enter your location...">

      <input type="text" class="search-bar" name="location" placeholder="Enter your date...">

    </form>

</div>

       <!--  <input type="date" class="datepicker" name="location" placeholder="Enter date">
        <input type="boolean" class="" name="location" placeholder="Enter your location...">
        <input type="boolean" class="" name="location" placeholder="Enter your location...">
        <input type="submit" value="Search Now" class="btn-main-sm"> -->


 <!--  <div class="d-flex flex-row">
    <%#= f.input :address, label: false %>
    <%#= f.input :date, as: :string, label: false, required: true, input_html: { class: "datepicker", style: "max-width: 300px" }, placeholder: "19 Jan" %>
    <div class="timeslots">
        <%#= f.input :am, label: "AM", input_html: { class: "hidden" }, label_html: { class: "timeslot-active"}, required: false %>
    </div>
    <div class="timeslots">
        <%#= f.input :pm, input_html: { class: "hidden" }, label: "PM", label_html: { class: "timeslot-active"}, required: false %>
    </div>
        <%#= f.button :submit, class: "btn-primary ml-2 mb-3", value: "Book | #{@desk.price} €" %>
    <%# end %>
</div>
 -->
