.card-booking {
  display: flex;
  // justify-content: space-between;
  padding: 2px;
}

#desk-thumbnail {
  width: 100px;
  height: 100px;
}

.booking-summary {
  padding-left: 6px;
  padding-right: 0px;
  margin-right: 0px;
  width: 114px;
}

.right {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-top: 0px;
  padding-top: 0px;
  text-align: right;
}

.subchapter {
  padding-top: 6px;
}

.host {
  // padding-top: 5px;
}

.tab {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
  margin-bottom: 8px;
}

.tab:click {
  text-decoration: none;
  color: black;
}

a.underline-tab.active{
  h2.tab {
  border-bottom: 4px solid $homey;
  margin-bottom: 20px;
  }
}

a, .a:hover, .a:focus, .a:visited, .a:focus-within, .a:active {
  text-decoration: none !important;
}
