.btn-main {
  background-color: $homey;
  color: white;
  width: 100%;
  text-decoration: none !important;
  padding: 20px;
  margin-top: 23px;
  font-weight: bold;
}


.btn-main-sm {
  background-color: $homey;
  color: white;
  padding: 15px 30px;
  text-decoration: none !important;
  margin-top: 23px;
  font-weight: bold;
}
