.btn-main {
  background-color: $homey;
  color: white;
  width: 100%;
  text-decoration: none !important;
  padding: 20px;
  margin-top: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
  border: none !important;
}

.btn-main:hover {
  color: white;
}

.btn-main-sm {
  background-color: $homey;
  color: white;
  padding: 15px 30px;
  text-decoration: none !important;
  margin-top: 10px;
  font-weight: bold;
  height: 56px;
  border: 0;
}

.status-accepted {
  color: $homey;
  padding: 5px;
  width: 95px;
  text-align: right;
  margin-bottom: 15px;
}

.btn-accept {
  color: $homey;
  border: 1px solid $homey;
  padding: 5px;
  width: 95px;
  text-align: center;
  font-size: smaller;
  text-decoration: none !important;
}

.status-declined {
  color: red;
  padding: 5px;
  width: 95px;
  // margin-top: 20px;
  text-align: right;
}

.btn-decline {
  color: red;
  border: 1px solid red;
  padding: 5px;
  width: 95px;
  margin-top: 20px;
  text-align: center;
  font-size: smaller;
  text-decoration: none !important;
}


.status-pending {
  // color: #ffe837;
  color: orange;
  // border: 1px solid #ffe837;
  // padding: 0px;
  width: 113px;
  // margin-top: 20px;
  text-align: right;
  margin-bottom: 15px;
}

.btn-review, .btn-review:hover, .btn-review:active, .btn-review:visited, .btn-review:focus {
  color: grey;
  border: 1px solid grey;
  padding: 3px;
  width: 95px;
  margin-top: 20px;
  text-align: center;
  font-size: smaller;
  text-decoration: none;
}

.btn-main-smaller {
  background-color: $homey;
  color: white;
  text-decoration: none !important;
  margin-top: 10px;
  font-weight: bold;
  height: 56px;
  border: 0;
}

.btn-login-lg {
  border: 1px solid $homey;
  color: black;
  text-decoration: none !important;
  text-align: center;
  height: 50px;
  width: 100px;
}

#next-btn {
  position: fixed;
  bottom: 20px;
  width: 94%;
  z-index: 1;
}

#book-submit {
  flex-grow: 1;
  max-width: 139.5px;
}
