.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.desk-card {
  background-color: white;
  margin-top: 18px;
}

.content {
  margin-bottom: 8px;
  margin-top: 8px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

#card-title{
  font-style: $headers-font;
}

#card-address {
  font-style: $body-font;
}

.link-to-card:hover {
  text-decoration: none;
}
