.h2home {
  margin-top: 120px;
}
.card-home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 10px;
    margin-right: 10px;
}

.card-home-img {
    height: 150px;
    background-size: cover;
    position: relative;
    border-radius: 3px;
}

.avatar {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    object-fit: cover;
    border: 3px solid white;
}

.avatar-position {
    position: absolute;
    bottom: -16px;
    right: -18px;
}

.card-home-body h4 {
    margin: 0px;
    color: black;
}

.card-home-body {
    padding-top: 5px;
    color: black;
}

.card-home-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: black;
}

