.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.desk-card {
  background-color: white;
  margin-top: 18px;
  position: relative;
}

.content {
  margin-bottom: 8px;
  margin-top: 8px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.content h2 {
  margin-bottom: 2px;
}

#desk-description {
  margin-top: 8px;
}

.content h2 span {
  border-bottom: 2px solid $homey;
}

.link-to-card:hover {
  text-decoration: none;
}

.price-tag-wrap {
  position: absolute;
  top: 0px;
  right: 37px;
}

.price-tag {
  position: relative;
  width: 0px;
  height: 0px;
  border-right: 29px solid $homey;
  border-top: 60px solid $homey;
  border-left: 29px solid $homey;
  border-bottom: 16px solid transparent;
}

.price-tag-content {
  position: absolute;
  top: -50px;
  right: -17px;
  text-align: center;
  color: white;
}

.price-tag-content h3,p {
  margin: 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  height: 100%;
  width: 150px;
  text-align: center;
  border: 0;
  padding: 10px;
}

.home-icon {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

}

.testimonial {
  height: 100%;
  width: 170px;
  text-align: center;
  border: 0;
  padding: 10px;
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.25);
}

.content {
  line-height: 1;
  margin-top: 0;
  color: grey;
  padding: 3px;
}

.my-desk-card {
  background-color: white;
  margin-top: 18px;
  position: relative;
}

.edit-delete {
  position: absolute;
  top: 303px;
  right: 2px;
}

#btn-login-edit {
  margin: 25px;
}

.pencil-edit {
  width: 25px;

}

.bin-delete {
  width: 25px;
}
