.booking_date {
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.25);
  margin-top: 23px;
  width: 200px;
}


.timeslots label {
  width: 100%;
  text-decoration: none;
  padding: 15px;
  margin-top: 10px;
  font-weight: bold;
  border: 1px solid $homey;
  color: $homey !important;
  text-align: center;

  transition: 0.1s ease all;
  &.active {
    background-color: $homey;
    color: white !important;
  }
}

.hidden {
  display: none;
}

label {
  margin-bottom: none !important;
}

.timeslots {
  width: 60px;
}
