.desk-content {
  margin-top: 24px;
}

.desk-host {
  margin-top: 24px;
  margin-bottom: 24px;
}

.host {
  margin-right: 24px;
}

.desk-feature {
  margin-top: 24px;

}

.desk-location {
  margin-top: 24px;
}


.carousel slide {
  position: relative;
}

.price-tag-wrap-show {
  position: absolute;
  top: 68px;
  right: 28px;
}

.logo {
  width: 40px;
  height: 40px;
}

#host-name {
  color: $homey;
  font-weight: bold;
  text-align: center;
}

.grey-feature {
  color: #C8C6C6;
}

// ----------------------------------

.desk-reviews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 190px;
  overflow-x: scroll;
  padding-bottom: 4px;
}

.desk-review {
  height: 100%;
  width: 184px !important;
  text-align: center;
  border: 0;
  padding: 10px;
  margin-right: 20px;
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
  flex-shrink: 0;
}

.desk-review-rating{
 height: 10%;
 padding: 0rem 1rem 1rem 0.5rem;
}

.desk-review-content {
  height: 60%;
  overflow: auto;
  padding: 1rem 1rem 1rem 0.5rem;
}

.desk-review-user {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 30%;
  padding-left: 0.5rem;
}

.desk-review-name {
  line-height: 1;
  margin-top: 0;
  color: black;
  padding: 3px;
}

.avatar-relative {
  height: 100%;
  border-radius: 50%;
}

.homey-star {
  margin-top: 0.5rem;
  color: $homey;
  fill: $homey;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $homey;
}

.grey-star {
  margin-top: 0.5rem;
  color: #C8C6C6;
}

.description-chat {
  width: 20px;
  height: 20px;
}
