.desk-content {
  margin-top: 24px;
}

.desk-host {
  margin-top: 24px;
}

.host {
  margin-right: 24px;
}

.desk-feature {
  margin-top: 24px;

}

.desk-location {
  margin-top: 24px;
}


.carousel slide {
  position: relative;
}

.price-tag-wrap-show {
  position: absolute;
  top: 75px;
  right: 28px;
}

.logo {
  width: 40px;
  height: 40px;
}

#host-name {
  color: $homey;
  font-weight: bold;
  text-align: center;
}

.grey-feature {
  color: #C8C6C6;
}

