.form-box {
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.25);
  margin-top: 23px;
}

.form-box-price {
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.25);
  margin-top: 23px;
}

.underline span {
  border-bottom: 4px solid $homey;
  margin-bottom: 20px;
}

.form-content {
  margin-top: 30px;
}

.form-input {
  border: none;
  height: 56px;
  width: 100%;
}

.form-control.price {
  border: none;
  width: 50%;
}


.form-inputs h1 {
  font-size: 27px;
  font-weight: bold;
  margin-top: 20px;
}

.form-inputs h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.form-box-price {
  width: 50%;
}

input {
  padding: 20px;
}

.form-box-description {
  height: 120px;
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.25);
  margin-top: 23px;
}


textarea {
  padding: 12px;
  height: 100px;
}

.form-control {
  width: 85px;
  // height: 100%;
  height: 56px;
}


.datepicker-show  {
  width: 25%;
}

.form-group {
  margin-top: 0px;
  box-shadow: 0px 0px 0px 0px;
  margin-right: 3px;
}

.form-check {
  padding-left: 0;
  width: 56px;
}

.search-bar-show {
  background-color: white;
  padding: 15px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.form-check-label {
  width: 200px;
}

#description {
  height: 100%;
  width: 100%;
}

.file {
  color: $homey;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}
