.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  // text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#photo-popup {
  height: 100px;
  width: 150px;

  // object-fit: cover;
}
