.navbar {
  justify-content: space-between;
  background: white;
  height: 75px;
}

.navbar-logo img {
  width: 120px;
}

.btn-list-desk {
  background-color: $homey;
  color: white;
  padding: 15px 15px;
  text-decoration: none !important;
  text-align: center;
  margin-top: none;
  margin-right: 10px;
}

.btn-list-desk:hover {
  color: white;
}

.btn-login {
  border: 1px solid $homey;
  color: black;
  padding: 9px 20px;
  margin-right: 20px;
  text-decoration: none !important;
}

