.navbar {
  justify-content: space-between;
  background: white;
  height: 80px;
}

.navbar img {
  width: 45px;
}

.navbar-logo img {
  width: 140px;
}

.btn-list-desk {
  background-color: $homey;
  color: white;
  padding: 10px;
  text-decoration: none !important;
}

.btn-login {
  border: 1px solid $homey;
  color: black;
  padding: 9px 20px;
  margin-right: 20px;
  text-decoration: none !important;
}

.avatar {
  margin-left: 10px;
  margin-right: 5px;
}
