.navbar {
  justify-content: space-between;
  background: white;
}

.navbar-logo img {
  width: 120px;
}

.btn-list-desk {
  background-color: $homey;
  color: white;
  padding-top: 7px;
  text-decoration: none !important;
  text-align: center;
  margin-top: 10px;
  height: 40px;
  width: 95px;
}

.btn-list-desk:hover {
  color: white;
}

.btn-login {
  border: 1px solid $homey;
  color: black;
  padding-top: 7px;
  margin-top: 10px;
  margin-right: 15px;
  text-decoration: none !important;
  text-align: center;
  height: 40px;
  width: 68px;
}

